@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@keyframes Snow {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes Floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  transition: 500ms;
}

#Home {
  background-image: linear-gradient(to top, #1c1c2c, #13131f);
  height: 100vh;
  padding-top: 20vh;
  justify-items: center;
  margin-top: auto;
  text-align: center;
  width: 100%;
}
#Home > #Photo {
  background-position: center;
  background-size: cover;
  background-image: url(Img/Foto.jpg);
  background-position-x: center;
  width: 30vh;
  height: 30vh;
  border-radius: 100vh;
  opacity: 0.5;
  animation: Floating infinite 3s ease-in-out;
  border: 2px solid #2b75e4;
  filter: saturate(2);
  box-shadow: 0px 0px 3vh #3782f3;
}
#Home > #Photo:hover {
  opacity: 1;
  filter: saturate(1);
  box-shadow: 0px 0px 20vh #ed37f3;
  border: 2px solid #ed37f3;
}
#Home > #Intro {
  color: white;
  font-family: sans-serif;
}
#Home > #Intro > h1, #Home > #Intro span, #Home > #Intro p {
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 200%;
  -webkit-text-fill-color: transparent;
}
#Home > #Intro > h1 {
  background-image: linear-gradient(to top, #e0a628, #f7c14f);
  -webkit-background-clip: text;
          background-clip: text;
  color: orange;
}
#Home > #Intro > span {
  background-image: linear-gradient(to top, rgba(45, 208, 236, 0.4), #23dfc6);
  -webkit-background-clip: text;
          background-clip: text;
  color: rgba(0, 204, 238, 0.4);
}
#Home > #Intro > p {
  background-image: linear-gradient(to left, #9393b1, #8d8db4);
  -webkit-background-clip: text;
          background-clip: text;
  color: #9393b1;
}
#Home > #Intro > #Itens {
  display: inline-flex;
}
#Home > #Intro > #Itens > #Entrar_em_contato {
  background-color: transparent;
  border-radius: 1vh;
  border: 1px solid #64119b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  margin-left: 1vh;
  width: 100%;
}
#Home > #Intro > #Itens > #Entrar_em_contato:hover {
  background-color: #64119b;
  border: 1px solid #913bfa;
  box-shadow: 0px 0px 1vh #913bfa;
}
#Home > #Intro > #Itens > a {
  color: white;
  text-decoration: none;
  width: 100%;
}
#Home > #Intro > #Itens > a > #Download_CV {
  height: 75%;
  background-image: linear-gradient(to left, #64119b, #913bfa);
  border-radius: 1vh;
  border: 1px solid white;
  box-shadow: 0px 0px 1vh #64119b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  width: 100%;
}
#Home > #Intro > #Itens > a > #Download_CV:hover {
  border: 1px solid #913bfa;
  box-shadow: 0px 0px 1vh #913bfa;
}
#Home #About-Me {
  transition: 1.5s;
  color: rgba(105, 206, 209, 0.9176470588);
  font-size: 2.3vh;
  width: 50%;
  padding-top: 2vh;
  font-family: "Courier New", Courier, monospace;
}
#Home #About-Me > a {
  color: rgba(105, 154, 209, 0.9176470588);
  text-decoration: none;
}
#Home #About-Me > a:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(25px);
}

#Skills {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #1c1c2c, rgb(23, 17, 49));
}
#Skills h1 {
  color: white;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 20vh;
  transition: 1s;
}
#Skills label {
  font-family: "Bebas Neue";
  color: white;
  position: relative;
  left: 5vh;
  font-size: 4vh;
}
#Skills .Bookcase {
  width: 90%;
  margin: auto;
  border-radius: 0.5vh;
  text-align: center;
}
#Skills .Bookcase img {
  padding-right: 1vh;
  width: 10vh;
}
#Skills hr {
  position: relative;
  top: 1%;
  width: 80%;
  height: 0.5vh;
  margin: auto;
  border-radius: 5vh;
  background-color: white;
  margin-bottom: 5vh;
}

#Snow {
  position: fixed;
  background-color: transparent;
  height: 1vh;
  display: flex;
}
#Snow span {
  width: 100%;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -100px 20px 5px #fff, -100px 20px 10px #fff;
  margin: 0.4vw;
  animation: Snow calc(1000s / var(--i)) linear infinite;
}

#Projects {
  background-image: linear-gradient(to top, #163e72, rgb(23, 17, 49));
}
#Projects > h1 {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 15vh;
  color: #ebd61d;
}
#Projects #Content {
  width: 100%;
  margin: auto;
  text-align: center;
}
#Projects #Project {
  display: inline-block;
  width: 10vh;
  height: 10vh;
}
#Projects #Project img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #2a2a2f;
  text-align: center;
  color: white;
}
footer h1 {
  margin-top: 24vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer a {
  text-decoration: none;
  color: #f14747;
  font-size: 2vh;
}
footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  #Skills {
    padding-top: 30vh;
  }
}/*# sourceMappingURL=Main.css.map */